[Unit]
Description=Run Ansible Periodic Playbooks (Full) weekly on Sunday
Requires=ansible-periodic@full.service

[Timer]
Unit=ansible-periodic@full.service
OnCalendar=Sun *-*-* 02:00:00
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target 